// NOTE: Some parameters supposed to use with `createTheme` from `@mui/material`

$primaryColor: #0074eb;
$secondaryColor: #ffa550;

$brightErrorColor: #f00;
$errorColor: #c33;
$dangerColor: #c33;
$warnColor: #f73;
$successColor: #593;
$infoColor: #0074eb;

$textColor: #000;
$defaultTextColor: #000;
$defaultLinkColor: #003d9d;
$neutralColor: #888;

$primaryMuiColors: (
  'light': '#1f8eff',
  'main': '#005bb8',
  'dark': '#002952',
  'contrastText': '#ffffff',
);
$primaryMuiColorsLight: #1f8eff;
$primaryMuiColorsMain: #005bb8;
$primaryMuiColorsDark: #002952;
$primaryMuiColorsContrastText: #ffffff;

$bodyBgColor: #f5f5f5;

$themeControlsRadius: 8;
$themeControlsRadiusPx: 8px;

$breakpoints: (
  'base': 360,
  'sm': 512,
  'md': 768,
  'lg': 1024,
  'xl': 1280,
  '2xl': 1600,
);
$breakpointsBase: 360;
$breakpointsBasePx: 360px;
$breakpointsSm: 512;
$breakpointsSmPx: 512px;
$breakpointsMd: 768;
$breakpointsMdPx: 768px;
$breakpointsLg: 1024;
$breakpointsLgPx: 1024px;
$breakpointsXl: 1280;
$breakpointsXlPx: 1280px;
$breakpoints2xl: 1600;
$breakpoints2xlPx: 1600px;
$breakpointsPre: (
  'base': 359.98,
  'sm': 511.98,
  'md': 767.98,
  'lg': 1023.98,
  'xl': 1279.98,
  '2xl': 1599.98,
);
$breakpointsPreBase: 359.98;
$breakpointsPreBasePx: 359.98px;
$breakpointsPreSm: 511.98;
$breakpointsPreSmPx: 511.98px;
$breakpointsPreMd: 767.98;
$breakpointsPreMdPx: 767.98px;
$breakpointsPreLg: 1023.98;
$breakpointsPreLgPx: 1023.98px;
$breakpointsPreXl: 1279.98;
$breakpointsPreXlPx: 1279.98px;
$breakpointsPre2xl: 1599.98;
$breakpointsPre2xlPx: 1599.98px;
$breakpointsPx: (
  'base': '360px',
  'sm': '512px',
  'md': '768px',
  'lg': '1024px',
  'xl': '1280px',
  '2xl': '1600px',
);
$breakpointsPxBase: 360px;
$breakpointsPxSm: 512px;
$breakpointsPxMd: 768px;
$breakpointsPxLg: 1024px;
$breakpointsPxXl: 1280px;
$breakpointsPx2xl: 1600px;
$breakpointsPrePx: (
  'base': '359.98px',
  'sm': '511.98px',
  'md': '767.98px',
  'lg': '1023.98px',
  'xl': '1279.98px',
  '2xl': '1599.98px',
);
$breakpointsPrePxBase: 359.98px;
$breakpointsPrePxSm: 511.98px;
$breakpointsPrePxMd: 767.98px;
$breakpointsPrePxLg: 1023.98px;
$breakpointsPrePxXl: 1279.98px;
$breakpointsPrePx2xl: 1599.98px;

$wrapperMaxWidth: 1280;
$wrapperMaxWidthPx: 1280px;

$innerPadding: 5;
$innerPaddingPx: 5px;
$itemPadding: 10;
$itemPaddingPx: 10px;
$containerPadding: 15;
$containerPaddingPx: 15px;
$blockPadding: 20;
$blockPaddingPx: 20px;

$transitionTime: 250;
$transitionTimeMs: 250ms;
$animationTime: 500;
$animationTimeMs: 500ms;
$disappearTime: 1000;
$disappearTimeMs: 1000ms;
