/** @module LoaderSplash.module.scss
 *  @since 2023.01.27, 21:26
 *  @changed 2023.03.28, 19:33
 */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity $animationTimeMs;
  z-index: 10;
  &.mode_cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.bg {
    &,
    &_page {
      background-color: $bodyBgColor;
    }
    &_black {
      background-color: #000;
    }
    &_white {
      background-color: #fff;
    }
    &_primary {
      background-color: $primaryColor;
    }
    &_neutral,
    &_gray {
      background-color: $neutralColor;
    }
  }
  &.fullSize {
    flex: 1;
  }
}
